<% layout('./layouts/boilerplate') %>

    <div class="container my-3">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Shipping Address & Payment Method</h2>

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Shipping Address
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse  <%= show ? 'show' : '' %> "
                            aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <form action="/shipping?_method=PUT" method="POST">
                                    <div class="mb-3">
                                        <label for="state" class="form-label">State</label>
                                        <input type="text" class="form-control" name="state" id="state" required
                                            placeholder="State" value="<%= cart.shipping.state %>">
                                    </div>
                                    <div class="mb-3">
                                        <label for="city" class="form-label">City</label>
                                        <input type="text" class="form-control" name="city" id="city" required
                                            placeholder="City" value="<%= cart.shipping.city%>">
                                    </div>
                                    <div class="mb-3">
                                        <label for="address" class="form-label">Address</label>
                                        <input type="text" class="form-control" name="address" id="address" required
                                            placeholder="Address" value="<%= cart.shipping.address%>">
                                    </div>
                                    <div class="mb-3">
                                        <label for="postalcode" class="form-label">Postal Code</label>
                                        <input type="text" class="form-control" name="postalCode" id="postalcode"
                                            required placeholder="Postal Code" value="<%= cart.shipping.postalCode%>">
                                    </div>
                                    <div class="d-grid px-3 py-1">
                                        <button class="btn btn-primary">submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Payment Method
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse <%= show ? '' : 'show' %>"
                            aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <form action="/payment?_method=PUT" method="POST">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="paymentMethod"
                                                    id="stripe" value="stripe" checked>
                                                <label class="form-check-label" for="stripe">
                                                    Stripe
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="paymentMethod"
                                                    id="paypal" disabled value="paypal">
                                                <label class="form-check-label" for="paypal">
                                                    PayPal
                                                </label>
                                            </div>
                                            <div>
                                                <button class="btn btn-primary">submit</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>