<% layout('./layouts/boilerplate') %>

    <div class="container vh-100">
        <h1>Dishes</h1>
        <div class="menu-items">
            <% for(let food of foods) {%>
                <div class="col-md-6 mb-3 p-2">
                    <div class="row" id="menu-card-items">
                        <div class="col-4">
                            <a href="/foods/<%= food._id %>"><img src="<%= food.image %>" alt="<%= food.name %>"
                                    class="img-fluid menu-items-image"></a>
                        </div>
                        <div class="col-8">
                            <div class="list-group  list-group-flush">
                                <div class="list-group-item">
                                    <h5 class="d-flex justify-content-between">
                                        <span>
                                            <a href="/foods/<%= food._id %>">
                                                <%= food.name %>
                                            </a>
                                        </span> <span class="fw-light">$<%= food.price %> </span>
                                    </h5>
                                </div>
                                <div class="list-group-item">
                                    <p class="fs-6">
                                        <%= food.description.substring(0 , 20) %> ...
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <% } %>
        </div>
    </div>